.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

* {box-sizing:border-box}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right; 
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 70%; background-color: #04AA6D;}
.css {width: 70%; background-color: #2196F3;} 
.js {width: 65%; background-color: #f44336;} 
.java {width: 80%; background-color: #808080;} 

li:hover{
  color: red;
}

h1, .about {
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}