.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

* {box-sizing:border-box}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right; 
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 50%; background-color: #2afc0f;}
.css {width: 50%; background-color: #2afc0f;} 
.js {width: 50%; background-color: #2afc0f;} 
.java {width: 90%; background-color: #2afc0f;} 

li:hover{
  color: red;
}

h1, .about {
  background: linear-gradient(to right, #ff0000, #00FF6C, #0400ff);
}